.vscode
build
publish

src/node_modules
src/package-lock.json

src/TypeScript/.tsconfig
src/TypeScript/UIX.Configuration.ts
src/TypeScript/UIX/tsconfig.json
src/TypeScript/UIX.AjaxWorker/tsconfig.json
src/TypeScript/UIX.ServiceWorker/tsconfig.json

src/TypeScript/UnitTests/Jest.Configuration.js

src/Utilities/BuildTools/BuildTools.js
src/Utilities/BuildTools.config.json