.uix.widget.markdown .uix-markdown{
    span.checkbox{
        transition: transform ease-in-out $page-timing-hover;

        &:hover{
            transform: scale(1.2);
        }
    }

    code{
        transition: background-color ease-in-out $page-timing-hover;

        &:hover{
            background-color: transparent;
        }
    }
}