form.uix.form-generator{
    padding: 5px;
    //padding-left: 1.5em;

    box-sizing: border-box;

    background-color: $form-generator-form-background-color;

    .form-container{
        position: relative;
        padding-left: 1em;

        &::before, &::after{
            content: "";
            top: .4em;

            box-sizing: border-box;
            position: absolute;
        }

        &::before{
            //left: -.8em;
            left: calc(.4em - 1px);

            height: calc(100% - .4em);
            width: 2px;

            background-color: #000000;
        }

        &::after{
            //left: -1.2em;
            left: 0;

            width: .8em;
            height: .8em;

            border-radius: .8em;

            background-color: #ffffff;
            border: 1px solid #000000;
        }

        &.is-ready::after{
            background-color: #00ff00;
        }

        &.has-error::after{
            background-color: #ff0000;
        }

        .display-name, .description{
            display: block;
            overflow-wrap: break-word;
        }

        .display-name{
            color: $form-generator-text-color;
        }

        .description{
            color: $form-generator-description-text-color;
        }

        &>.display-name{
            font-size: 1.2em;
        }

        &>.description{

        }

        .input-container{
            cursor: pointer;

            padding: 1px;
            padding-bottom: 0;
            margin: 1px;

            transition: background-color ease-in-out $form-generator-timing-hover;

            .input-wrapper{
                width: 100%;
                height: 100%;
                
                display: flex;
                flex-wrap: wrap;
                align-content: flex-end;

                &>*{
                    flex-basis: 100%;
                }
    
                &>.description{
                    font-size: .75em;
    
                    transition: color ease-in-out $form-generator-timing-hover;
                }
    
                &>.description:hover{
                    color: $form-generator-text-color;
                }
    
                .input-field-wrapper{
                    &>.form-input{
                        box-sizing: border-box;

                        height: 100%;
                        width: 100%;
    
                        outline: none;
                        border: none;
                        border-radius: 0;

                        margin: 0;
                        padding: .2em;

                        border-bottom: 2px solid $form-generator-input-border-color;
    
                        color: $form-generator-text-color;
                        background-color: $form-generator-input-background-color;
    
                        &:hover{
                            border-color: $form-generator-input-hover-border-color;
                        }
                    }
    
                    &>textarea.form-input{
                        resize: vertical;
                    }
                }
            }

            &.required{
                .input-wrapper{
                    .display-name::after{
                        content: "*";
                        margin-left: 2px;
                        color: #ff0000;
                    }

                    .input-field-wrapper{
                        &>.form-input{
                            border-color: $form-generator-input-required-border-color;
                        }
                    }
                }
            }

            &.read-only{

            }

            &:hover{
                background-color: $form-generator-input-container-hover-background-color;
            }
        }

        .children-container{
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;

            &>*{
                flex-grow: 1;
                flex-basis: $form-generator-input-target-width;
            }

            &>.form-container{
                flex-basis: 100%;

                margin: 20px 0;

                &:first-child, &+.form-container{
                    margin-top: 0;
                }

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}