@mixin loading-animation-background($color1: rgba(0,0,0,.1), $color2: rgba(255,255,255,.1)) {
    background-image: linear-gradient(45deg, $color1 0, $color1 25%, $color2 25%, $color2 50%, $color1 50%, $color1 75%, $color2 75%);
    background-repeat: repeat;
    background-size: 50px 50px;
    background-attachment: fixed;
    animation: animation-loading-background linear .5s infinite;
}