$widget-editor-background-color: #222222;
$widget-editor-webpage-wrapper-outline-color: #999999;

$widget-editor-widget-hover-outline-color: #4083ca;
$widget-editor-widget-hover-background-color: $widget-editor-widget-hover-outline-color;