$widget-editor-background-color: $page-dark-color;
$widget-editor-webpage-wrapper-outline-color: $page-gray-color;

$widget-editor-widget-hover-outline-color: $page-accent-color;
$widget-editor-widget-hover-background-color: $widget-editor-widget-hover-outline-color;