$context-menu-background-color: $page-dark-color;
$context-menu-background-color-hover: $page-dark-color-hover;

$context-menu-group-spacer-color: $page-dark-color-hover;

$context-menu-border-color: $page-black-color;

$context-menu-text-color: $page-light-color;
$context-menu-greyed-out-text-color: $page-gray-color;

$context-menu-transition-time-hover: $page-timing-hover;