$markdown-checkbox-color: #0e5efb;
$markdown-checkbox-hook-color: #ffffff;
$markdown-checkbox-plus-color: #33f10b;
$markdown-checkbox-minus-color: #f13248;

$markdown-code-text-color: #0c44c1;
$markdown-code-background-color: rgba(0,0,0,.08);