//Text Color
.uix-text-color-accent{
    color: $page-accent-color;
    &.hover{
        transition: color ease-in-out $page-timing-hover;
        &:hover{
            color: $page-accent-color-hover;
        }
    }
}

.uix-text-color-error{
    color: $page-error-color;
    &.hover{
        transition: color ease-in-out $page-timing-hover;
        &:hover{
            color: $page-error-color-hover;
        }
    }
}


.uix-text-color-warning{
    color: $page-warning-color;
    &.hover{
        transition: color ease-in-out $page-timing-hover;
        &:hover{
            color: $page-warning-color-hover;
        }
    }
}

.uix-text-color-ready{
    color: $page-ready-color;
    &.hover{
        transition: color ease-in-out $page-timing-hover;
        &:hover{
            color: $page-ready-color-hover;
        }
    }
}

.uix-text-color-info{
    color: $page-info-color;
    &.hover{
        transition: color ease-in-out $page-timing-hover;
        &:hover{
            color: $page-info-color-hover;
        }
    }
}

.uix-text-color-code{
    color: $page-code-color;
    &.hover{
        transition: color ease-in-out $page-timing-hover;
        &:hover{
            color: $page-code-color-hover;
        }
    }
}

.uix-text-color-highlight{
    color: $page-highlight-color;
    &.hover{
        transition: color ease-in-out $page-timing-hover;
        &:hover{
            color: $page-highlight-color-hover;
        }
    }
}

.uix-text-color-dark{
    color: $page-dark-color;
    &.hover{
        transition: color ease-in-out $page-timing-hover;
        &:hover{
            color: $page-dark-color-hover;
        }
    }
}

.uix-text-color-light{
    color: $page-light-color;
    &.hover{
        transition: color ease-in-out $page-timing-hover;
        &:hover{
            color: $page-light-color-hover;
        }
    }
}

.uix-text-color-gray{
    color: $page-gray-color;
    &.hover{
        transition: color ease-in-out $page-timing-hover;
        &:hover{
            color: $page-gray-color-hover;
        }
    }
}

.uix-text-color-black{
    color: $page-black-color;
    &.hover{
        transition: color ease-in-out $page-timing-hover;
        &:hover{
            color: $page-black-color-hover;
        }
    }
}

.uix-text-color-white{
    color: $page-white-color;
    &.hover{
        transition: color ease-in-out $page-timing-hover;
        &:hover{
            color: $page-white-color-hover;
        }
    }
}


//Solid Background
.uix-solid-bg-accent{
    background-color: $page-accent-color;
    &.hover{
        transition: background-color ease-in-out $page-timing-hover;
        &:hover{
            background-color: $page-accent-color-hover;
        }
    }
}

.uix-solid-bg-error{
    background-color: $page-error-color;
    &.hover{
        transition: background-color ease-in-out $page-timing-hover;
        &:hover{
            background-color: $page-error-color-hover;
        }
    }
}


.uix-solid-bg-warning{
    background-color: $page-warning-color;
    &.hover{
        transition: background-color ease-in-out $page-timing-hover;
        &:hover{
            background-color: $page-warning-color-hover;
        }
    }
}

.uix-solid-bg-ready{
    background-color: $page-ready-color;
    &.hover{
        transition: background-color ease-in-out $page-timing-hover;
        &:hover{
            background-color: $page-ready-color-hover;
        }
    }
}

.uix-solid-bg-info{
    background-color: $page-info-color;
    &.hover{
        transition: background-color ease-in-out $page-timing-hover;
        &:hover{
            background-color: $page-info-color-hover;
        }
    }
}

.uix-solid-bg-code{
    background-color: $page-code-color;
    &.hover{
        transition: background-color ease-in-out $page-timing-hover;
        &:hover{
            background-color: $page-code-color-hover;
        }
    }
}

.uix-solid-bg-highlight{
    background-color: $page-highlight-color;
    &.hover{
        transition: background-color ease-in-out $page-timing-hover;
        &:hover{
            background-color: $page-highlight-color-hover;
        }
    }
}

.uix-solid-bg-dark{
    background-color: $page-dark-color;
    &.hover{
        transition: background-color ease-in-out $page-timing-hover;
        &:hover{
            background-color: $page-dark-color-hover;
        }
    }
}

.uix-solid-bg-light{
    background-color: $page-light-color;
    &.hover{
        transition: background-color ease-in-out $page-timing-hover;
        &:hover{
            background-color: $page-light-color-hover;
        }
    }
}

.uix-solid-bg-gray{
    background-color: $page-gray-color;
    &.hover{
        transition: background-color ease-in-out $page-timing-hover;
        &:hover{
            background-color: $page-gray-color-hover;
        }
    }
}

.uix-solid-bg-black{
    background-color: $page-black-color;
    &.hover{
        transition: background-color ease-in-out $page-timing-hover;
        &:hover{
            background-color: $page-black-color-hover;
        }
    }
}

.uix-solid-bg-white{
    background-color: $page-white-color;
    &.hover{
        transition: background-color ease-in-out $page-timing-hover;
        &:hover{
            background-color: $page-white-color-hover;
        }
    }
}


//Background and Text
.uix-bg-text-accent{
    background-color: $page-accent-color;
    color: $page-accent-color-corresponding-text;
    &.hover{
        transition: background-color ease-in-out $page-timing-hover, color ease-in-out $page-timing-hover;
        &:hover{
            background-color: $page-accent-color-hover;
            color: $page-accent-color-hover-corresponding-text;
        }
    }
}

.uix-bg-text-error{
    background-color: $page-error-color;
    color: $page-error-color-corresponding-text;
    &.hover{
        transition: background-color ease-in-out $page-timing-hover, color ease-in-out $page-timing-hover;
        &:hover{
            background-color: $page-error-color-hover;
            color: $page-error-color-hover-corresponding-text;
        }
    }
}


.uix-bg-text-warning{
    background-color: $page-warning-color;
    color: $page-warning-color-corresponding-text;
    &.hover{
        transition: background-color ease-in-out $page-timing-hover, color ease-in-out $page-timing-hover;
        &:hover{
            background-color: $page-warning-color-hover;
            color: $page-warning-color-hover-corresponding-text;
        }
    }
}

.uix-bg-text-ready{
    background-color: $page-ready-color;
    color: $page-ready-color-corresponding-text;
    &.hover{
        transition: background-color ease-in-out $page-timing-hover, color ease-in-out $page-timing-hover;
        &:hover{
            background-color: $page-ready-color-hover;
            color: $page-ready-color-hover-corresponding-text;
        }
    }
}

.uix-bg-text-info{
    background-color: $page-info-color;
    color: $page-info-color-corresponding-text;
    &.hover{
        transition: background-color ease-in-out $page-timing-hover, color ease-in-out $page-timing-hover;
        &:hover{
            background-color: $page-info-color-hover;
            color: $page-info-color-hover-corresponding-text;
        }
    }
}

.uix-bg-text-code{
    background-color: $page-code-color;
    color: $page-code-color-corresponding-text;
    &.hover{
        transition: background-color ease-in-out $page-timing-hover, color ease-in-out $page-timing-hover;
        &:hover{
            background-color: $page-code-color-hover;
            color: $page-code-color-hover-corresponding-text;
        }
    }
}

.uix-bg-text-highlight{
    background-color: $page-highlight-color;
    color: $page-highlight-color-corresponding-text;
    &.hover{
        transition: background-color ease-in-out $page-timing-hover, color ease-in-out $page-timing-hover;
        &:hover{
            background-color: $page-highlight-color-hover;
            color: $page-highlight-color-hover-corresponding-text;
        }
    }
}

.uix-bg-text-dark{
    background-color: $page-dark-color;
    color: $page-dark-color-corresponding-text;
    &.hover{
        transition: background-color ease-in-out $page-timing-hover, color ease-in-out $page-timing-hover;
        &:hover{
            background-color: $page-dark-color-hover;
            color: $page-dark-color-hover-corresponding-text;
        }
    }
}

.uix-bg-text-light{
    background-color: $page-light-color;
    color: $page-light-color-corresponding-text;
    &.hover{
        transition: background-color ease-in-out $page-timing-hover, color ease-in-out $page-timing-hover;
        &:hover{
            background-color: $page-light-color-hover;
            color: $page-light-color-hover-corresponding-text;
        }
    }
}

.uix-bg-text-gray{
    background-color: $page-gray-color;
    color: $page-gray-color-corresponding-text;
    &.hover{
        transition: background-color ease-in-out $page-timing-hover, color ease-in-out $page-timing-hover;
        &:hover{
            background-color: $page-gray-color-hover;
            color: $page-gray-color-hover-corresponding-text;
        }
    }
}

.uix-bg-text-black{
    background-color: $page-black-color;
    color: $page-black-color-corresponding-text;
    &.hover{
        transition: background-color ease-in-out $page-timing-hover, color ease-in-out $page-timing-hover;
        &:hover{
            background-color: $page-black-color-hover;
            color: $page-black-color-hover-corresponding-text;
        }
    }
}

.uix-bg-text-white{
    background-color: $page-white-color;
    color: $page-white-color-corresponding-text;
    &.hover{
        transition: background-color ease-in-out $page-timing-hover, color ease-in-out $page-timing-hover;
        &:hover{
            background-color: $page-white-color-hover;
            color: $page-white-color-hover-corresponding-text;
        }
    }
}