$page-text-color: #222222;
$page-text-light-color: #cccccc;

$page-select-color: #2ec5ff;

$page-underline-color: #999999;
$page-underline-hover-color: #777777;

$header-footer-background-color: #252627;

$scrollbar-background-color: #dadada;
$scrollbar-indicator-color: #aaaaaa;
$scrollbar-hover-background-color: #cacaca;
$scrollbar-hover-indicator-color: #888888;