$page-text-color: #222222;
$page-text-light-color: #cccccc;

$page-select-color: #2ec5ff;

$page-underline-color: #999999;
$page-underline-hover-color: #777777;

$header-footer-background-color: #252627;
$header-footer-hover-background-color: #333536;

$scrollbar-background-color: #dadada;
$scrollbar-indicator-color: #aaaaaa;
$scrollbar-hover-background-color: #cacaca;
$scrollbar-hover-indicator-color: #888888;

$icon-red-color: #ff5b5b;
$icon-red-hover-color: #de0202;

$icon-light-color: #b5b6bf;
$icon-light-hover-color: #ffffff;