$page-font-family: "Source Sans Variable", Segoe UI, sans-serif;
$page-font-family-monospace: "Source Code Variable", Consolas, monospace;

$page-font-size: 18px;
$page-font-weight: 350;
$page-code-font-weight: 400;
$page-bold-font-weight: 550;